@font-face {
    src: url(resources/fonts/xirod.ttf);
    font-family: xirod;
}

@font-face {
    src: url(resources/fonts/NotoSerif-Regular.ttf);
    font-family: notoSerif;
}

@keyframes glow {
    from {
        background: linear-gradient(45deg,red 0%, green 50%, blue 100%); 
        -webkit-background-clip: text;
        -webkit-text-stroke: 2px transparent;
        }
    
    to {
        background: linear-gradient(45deg,red 0%, green 50%, blue 100%); 
        -webkit-background-clip: text;
        -webkit-text-stroke: 2px transparent;
        text-shadow: 0 0 4px white;
    }
}

@keyframes glow2 {
    from {
    }
    
    to {
        text-shadow: 0 0 4px white;
    }
}

@keyframes box_glow {
  from {
    box-shadow: 0 0 10px #fff;
  }
  
  to {
    box-shadow: 0 0 20px #fff;
  }
}


/******************************************************* SCROLL-BAR ***************************************************************/

::-webkit-scrollbar {
    width: 15px;
 }
     
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #222; 
    border-radius: 3rem; 
}
     
::-webkit-scrollbar-thumb {
    background: #444; 
    border-radius: 10px;
}
     
::-webkit-scrollbar-thumb:hover {
    background:lightgray 
}
     
/***************************************************** GENERAL **********************************************************/
body{
    margin: 30px;
    background: black;
    color: white;
    line-height: 1.5;
    font-size: 15px;
    background-image: url("resources/images/bg2.jpg");
    background-position: center;
}

h1, h2, h3{
    font-family: xirod;
    letter-spacing: 2px;
    font-weight: lighter;
    text-shadow: 1px 1px 1px black, 2px 2px 1px red, 3px 3px 1px goldenrod, 4px 4px 1px green, 5px 5px 1px turquoise, 6px 6px 1px blue,  7px 7px 1px indigo;
    animation: glow2 2s ease-in-out infinite alternate;
}

.header{
    font-size: 15px;
    font-family: xirod;
    letter-spacing: 2px;
}

.container {
    width: fit-content;
    height: fit-content;
}

.card {
    background: #222;
    margin:20px;
    border-radius: 3rem;
}

.fa-star, .fa-star-o{
    color:goldenrod;
}


/***************************************************** FORM INPUTS ****************************************************/

input[type=text],input[type=password], input[type=search]{
    border-radius: 3rem;
    background: white;
    color: black;
    padding: 5px 20px;
    margin: 10px 0;
    font-size: 100%;
}
                                                   
input[type=text]:hover, input[type=password]:hover, input[type=search]:hover, textarea:hover{
    animation: box_glow 2s ease-in-out infinite alternate;
}

input[type=submit], input[type=reset], button, input[type=button], .select {
    border-radius: 3rem;
    color: black;
    background: white;
    margin: 10px 0;
    font-size: 100%;
    padding: 5px 15px;
}

button:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, .select-items div:hover{
    background: transparent;
    color: white;
    font-size: 100%;
}

input[type=file] {
    display: unset;
}

input[type=number]{
    border-radius: 1rem;
    color: black;
     padding: 3px ;
}

textarea{
    width: 500px; 
    height: 150px;
    border-radius: 3rem;
    background: white;
    color: black;
    padding: 5px 20px;
    margin: 10px 0;
    font-size: 100%;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 1;
    color: #333;
}

 a:visited, a:link, a:active
{
    color: lightcyan;
    text-decoration: none;
}
a:hover{
    color: lightsteelblue;
    text-decoration: none;
}

.input-group-btn {
    font-size: unset !important;
}

input[type=checkbox], input[type=radio]{
    margin:10px;
}

/******************************************************** MENU *************************************************************/

.navbar-custom{
    border-radius: 1.5rem;
}
.navbar-custom .navbar-brand{
    font-size: 200%;
    color: white;
    font-family: xirod;
    animation: glow 2s ease-in-out infinite alternate;
}

.navbar-custom .navbar-brand:hover{
    color: lightgray;
}

.rgbshape{          /*didn't end up using*/
    width: 350px;
    height: 50px;
    mix-blend-mode: lighten;
    float: inline-start;
    position: absolute;
    transform: translate(-85%, 0%);
}

/******************************************************* SEARCH BAR ***************************************************************/

.searchbar{
    float: left;
}

.search{    
    justify-content: space-between;
    background: transparent;
    color: white;
    float: right;
}

.search:hover{    
    color: grey;
    float: right;
    font-size: unset !important;
}

.search:focus{
    color: unset !important;
    outline: none !important;
}

.search::-webkit-search-cancel-button{
    position:relative;
    right:20px;  
    color: black;  
}

.form-control:focus, .form-control:focus-visible {
    border: none !important;
    outline: none !important;
}

/******************************************************** MODAL **********************************************************/

.modal.close{
    float: right;
}

.modal-content{
    font-size: 125%;
    background: #222;
    box-shadow: blanchedalmond;
}

/******************************************************** CHAT **********************************************************/

.chat-app{
    padding:10px;
    display: flex;
    width: 850px;
    /*width: fit-content;*/
    height: 550px;
}

.chat-app .people-list {
    padding: 20px;
    width: 300px;
    height: inherit;
    overflow-x: hidden;
    overflow-y:auto;
}

.people-list .chat-list li {
    padding: 10px 15px;
}

.people-list .chat-list li:hover {
    background: #efefef;
    color: #222;
    cursor: pointer;
    border-radius:3rem;
}

.people-list img {
    float: left;
}

.people-list .about {
    float: left;
    padding-left: 10px
}

.chat-app .chat {
    border-left: 1px solid #777;
    width: 550px;
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #777
}

.chat .chat-header img {
    float: left;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    font-size: 100%
}

.chat .chat-history{
    height: 350px;
    overflow:auto; 
    display:flex;
    flex-direction: column-reverse;
}

.chat .chat-history ul {
    padding: 0;
}

.chat .chat-history ul li {
    list-style: none;
    padding: 20px;
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 4rem;
    width: 40px;
    height: 40px;
}

.chat .chat-history .message {
    color: #444;
    padding: 6px 15px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 5rem;
    display: inline-block;
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: lightsteelblue
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: lightsteelblue;
    border-width: 10px;
    margin-left: -10px;
    top: -40%

}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right;
    float: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 50%;
    top: -50%
}

.readStatus-notSeen{
    font-size: xx-small;
    opacity: 50%;
}

.readStatus-seen{
    font-size: xx-small;
}

.input-group{
    padding-left: 10px;
    padding-right: 10px;
}

input.form-control.txtToBeSent{
    padding: 25px 25px;
}

.send{
    border-radius: 3rem;
    padding: 6px 15px;
}

.send:hover{   
    background-color: white;
    color: black; 
    font-size: 14px;
    animation: box_glow 3s ease-in-out infinite alternate;
}

.send:focus{
    background-color: white;
    color: black;
    outline: none !important;
}

.empty-chat{
    width: 740;
    height: 494;
    background: #222;
    margin: 50px;
    border-radius: 3rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    position:inherit; 
}

/************************************************* PRODUCT SEARCH *******************************************************/

.products-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
}

.product-list-item{
    padding: 10px;
    margin: 10px;
    line-break: auto; /*not working*/
}

.product-list-item:hover{
    background: white;
    color: black;
    border-radius: 1.5rem;

}

.product-list-image{
    float: left;
    width: 150px;
    height: 150px;
    vertical-align: baseline;
    padding-right: 10px;
}
.carda{
background-color: #222;
margin: 50px;
border-radius: 3rem;
height: max-content;
text-align: center;
align-content: center;

}
.form-horizontal{
  /*padding: 50px;*/
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.form-control{
    align-content: center;
    text-align: center;
}
.redtext{
    color: red;
}
.content-table {
    border-collapse:collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 15px 15px 15px 15px ;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(255, 255, 255);
}
.content-table thead tr th {
    background-color:#222;
    color:#ffffff;
    text-align:left;
    font-weight: bold;
}
.content-table th,
.content-table td{
    padding: 12px 15px;
       

    /*color: rgb(255, 255, 255);*/
}
.content-table tbody tr {
    border-bottom: 1px solid rgb(0, 0, 0); 
}
.content-table tbody tr:nth-of-type(even){
background-color: #222;
color: rgb(255, 255, 255);

}

.content-table tbody tr:nth-of-type(odd){
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    }

.content-table tbody tr:last-of-type{
    border-bottom :2px solid #ffffff;
}
/**/
/*******************************************************************************************************************************/


    /*
    background-image: url(resources/images/style/giphy3.gif);
    background-size: 600px 300px;
    mix-blend-mode: lighten;
    */

/********************************************** (HOME) CAROUSEL **********************************************************/

.carousel{
    position: relative;
    margin-top: 30px;
}

.carousel-inner{
    border-radius: 1.5rem;

    background: white;

    width: 1000px;
    height: 500px;
}

.carousel-image{
    width: 500px;
    height: 500px;

    padding: 50px;
}

.carousel-caption{

    padding: 50px;
    position: initial;
    
    font-size: 200%;
    font-family: xirod;
    color: #222;
    text-shadow: 1px 1px 1px dimgray;
}

.carousel-caption.nowrap{
    white-space: nowrap;
    padding: unset;
    font-size: unset;
}

.controllers{
    top:0;
}

.carousel-indicators{
    position: relative;
    top: 550px;
}


/******************************************************* PROFILE *******************************************************/

.profile,.sendSurvey{
    margin:25px;
    padding:25px;
    text-align: center;
    width: 500px;
    /*height: 500px;*/
    overflow-y:auto;
}

.profile-image{
    border-radius: 150px;
    width: 150px;
    height: 150px;
}

/******************************************************** CART *********************************************************/

.shoppingCart{
    margin:25px;
    padding:50px;
    text-align: center;
    width: 800px;
    height: 550px;
    position: relative;
}

.cart-items{
    height: 400px;
    overflow-y: auto;
}

.cart-actions{
    border-left: 2px solid lightgrey
}

.cart-footer{
    height: 150px;
    position: inherit;
}

/***************************************************** SEND SURVEY ******************************************************/

.user-pic-icon{
    border-radius: 4rem;
    
    width: 40px;
    height: 40px;
    margin: 10px;
}
    ::-webkit-scrollbar-thumb {
    background: #444; 
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background:lightgray 
}

/**********************************************************************************************************************/
.product-img{
  text-align: center;
}
.product-img-border{
  border: 10px solid;
  border-color: white;
  border-radius: 25px;
  padding: 20px;
}

a.href-btn{
    color: black;
}

a.href-btn:hover{
    color: white;
}

h1.product-name, h3.product-name{
    font-family: notoSerif;
    font-weight: lighter;
    text-shadow: 1px 1px 1px purple, 1px 1px 1px white;
    animation: glow2 2s ease-in-out infinite alternate;
   
}
h3.product-price{
    font-family: notoSerif;
    font-weight: lighter;
    text-shadow: 1px 1px 1px gray;
    animation: glow2 2s ease-in-out infinite;
}

h4,h5{
    font-family: notoSerif;
    font-weight: lighter;
    text-shadow: 1px 1px 1px gray;
    animation: glow2 2s ease-in-out infinite;
  
}

h4.product-dsc{
    font-family: notoSerif;
    font-weight: lighter;
}

.product-btn{
    justify-content: space-between;
    text-align: center;
}
.product-btn:hover{
    color: white;
}

p.desc{
    /*font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;*/
    border: 2px solid whitesmoke ;
    background-color: black;
    width: 750px;
    padding: 1%;
    border-radius:  5px 30px;
}

p.review{
    /*font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    
    border: 2px solid whitesmoke ;
    /*background-color: lightgray;*/
    width: 350px;
    padding: 1%;
    border-radius:  1px 20px 20px 20px;
}

p{
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
}

.profile-icon{
    border-radius: 25px;
    width: 45px;
    height: 45px;
}

.reply-btn{
    border-radius: 3rem;
    color: black;
    background: white;
    font-size: 100%;
    height: 25px;
    margin: 1px 2px;
    width: auto;
    padding: 1px 10px;
    padding-bottom: 2px;
    text-align: center;
}
.reply-btn:hover{
    background: transparent;
    color: white;
    font-size: 100%;
}

.reply-div{
    margin-left: 45px;
    margin-right: 0px;
}

select{
    background: white;
    color: black;
    border-radius: 0.5rem;
    padding: 2px;
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
}

.search-ordr{    
   /* justify-content: space-between;*/
    background: transparent;
    color: white;
    padding-bottom: 18px;
}

.search-ordr:hover{    
    color: grey;
    font-size: unset !important;
}

.orders-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 76px;
}
    

/***************************************************** ALERTS ******************************************************/

.alert{
    display:inline-block;
    /*border-radius: 3rem;*/
    height: fit-content;
    padding: unset;
    padding-right: 10px;
    padding-left: 10px;
}

.close{
    font-size: 15px;
    float: inherit;
}

.close:hover{
    font-size: unset !important;
}
